<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <style>
        * {margin:0px;padding:0px;}
        .list {padding:30px;background-color:#efefef;}
        .list li {list-style:none;border-bottom:1px solid #efefef;padding:10px;color:blue}

    </style>
</head>
<body>
    <div id="app">
        <button type='button' v-on:click='animationEvent'>click</button>
        <transition-group appear
            name='list' 
            tag='ul'
            class="list"
            @before-enter='beforeEnter'
            @enter="enter">
            <li v-for="(list, index) in lists" v-bind:key='index' v-if='vos'>
                <span>{{ index }}</span>
                <span>{{ list.name }}</span>
                <a href="#" v-on:click='deleteEvent(index)'>삭제</a>
            </li>
        </transition-group>

        <!-- <transition
            appear
            @before-enter='beforeEnter'
            @enter="enter">

            <p v-if='vos'>list 입니다.</p>

        </transition> -->
    </div>
</body>
<script>

var v = new Vue({
  el : '#app',
  data : function() {
    return {
      vos : true,
      lists : [
          { name : 'list01' },
          { name : 'list02' },
          { name : 'list03' },
          { name : 'list04' },
          { name : 'list05' },
      ]
    }
  },
  methods: {
    animationEvent : function(){
        this.vos = false;
        setTimeout(()=>{
            this.vos = true;
        })
    },
    beforeEnter : function(el){
        el.style.opacity = 0;
    },
    enter : function(el, done){
        Velocity(el, { opacity: 0 }, { duration: 200 })
        Velocity(el, { opacity: 0.7 }, { duration: 200 })
        Velocity(el, { opacity: 1 }, { complete: done })
    }

  }
})
</script>
</html>